<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>公司LDAP密码管理-公司IT</title>
    <!-- 引入 WeUI CDN 链接 -->
    <link rel="stylesheet" href="../static/css/weui.min.css" />
    <link rel="stylesheet" href="../static/css/example.css" />
    <!-- 新增 jQuery 引用 -->
    <script src="../static/js/jquery-3.6.0.min.js"></script>
</head>

<body>
    <div class="container" id="container">
        <div class="page msg_custom_area_tips js_show" tabindex="-1">
            <div class="weui-msg">
                <div class="weui-msg__icon-area"><i class="weui-icon-warn weui-icon_msg"></i></div>
                <div class="weui-msg__text-area">
                    <h2 class="weui-msg__title">验证失败</h2>
                    <p class="weui-msg__desc">验证链接已过期或已失效，请使用LDAP密码工具重新申请</p>
                    <p class="weui-msg__desc"><a href="../reset.html">点击前往</a></p>
                </div>
                <div class="weui-msg__extra-area">
                    <div class="weui-footer">
                        <p class="weui-footer__links">
                            <a href="https://it.example.com/" target="_blank" class="weui-footer__link">狼人的公司-运维平台部</a>
                        </p>
                        <p class="weui-footer__text">Copyright © 2025 it.example.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>